@model WebApp.Models.CanvasViewModel
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@{
    Layout = null;

    var serializeSetting = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
}
<style>
    #imgCanvas {
        /* border: 1px solid red;*/
        background-image: url( @VirtualPathUtility.ToAbsolute(Model.PhotoDataModel.ImageVirtualPath) );
        background-size: 640px 480px;
        background-repeat: no-repeat;
        margin: auto auto;
    }
</style>
<script>
    //$(document).ready(function () {
    //    downloadLnk.addEventListener('click', download, false);
    //});
</script>
<div>
    @Html.Hidden("BoundingBoxData", Model.BoundingBoxDataModels != null ? JsonConvert.SerializeObject(Model.BoundingBoxDataModels, serializeSetting) : null)
    @Html.Hidden("PolygonData", Model.PolygonDataModels != null ? JsonConvert.SerializeObject(Model.PolygonDataModels, serializeSetting) : null)
    @Html.Hidden("ClientSideBoundingBoxData")
    @Html.Hidden("ClientSidePolygonData")
    @Html.Hidden("PhotoId", Model.PhotoDataModel.Id)
    <canvas id="imgCanvas" width=640 height=480></canvas>
</div>