@model WebApp.Models.DashboardViewModel
@using WebApp.Controllers

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .mainContainer {
        width: 100%;
        height: 570px;
      /*  border: 2px solid black;*/
      background-color:darkgrey;
    }

    .leftDiv {
        border: 2px solid darkorchid;
        float: left;
        width: 8%;
        height: 100%;
        background-color: cadetblue;
    }

    .midDiv {
        @*background-image: url( @VirtualPathUtility.ToAbsolute("~/UploadedFiles/no-image.jpg") );
        background-repeat: inherit;
        background-size: 640px 480px;*@
        float: left;
        width: 640px;
        height: 480px;
        display: block;
        margin-left: 15px;
       /* border: 2px solid black;*/
        margin-top:0px;
    }

    .rightDiv {
        /* background-color: lightslategray;*/
        border: 3px solid darkorchid;
        float: left;
        width: 33%;
        height: 100%;
        margin-left: 15px;
    }

    .lblFileUpload {
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    #file-chosen {
        margin-left: 0.3rem;
        font-family: sans-serif;
    }


</style>

<link href="~/Content/Loader.css" rel="stylesheet" />

@using (Html.BeginForm("Dashboard", "Dashboard", FormMethod.Post, new { id = DashboardController.DashboardForm, encType = "multipart/form-data" }))
{
    @Html.Hidden("GetGridViewDataUrl", Url.Action("GetGridViewData", "Dashboard"))
    @Html.Hidden("UploadFileUrl", Url.Action("UploadFile", "Dashboard"))
    @Html.Hidden("ImageFileUrl", Url.Action("GetCanvasImage", "Dashboard"))
    @Html.Hidden("SaveBoundingBoxUrl", Url.Action("SaveBoundingBoxData", "Dashboard"))

    <div style="margin-top:10px;">
        @if (Model.MemberDataModel.UserName != null)
        {
            <div id="divUploadFilePanel">
                @Html.Partial("UploadFileViewPartial", Model.FileUploadModel)
            </div>

            <div id="divImageAnnotationPanel">
                @Html.Partial("ImageAnnotationPartial", Model.MemberDataModel)
            </div>
        }
    </div>

    <div class="spinner" style="display:none">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>
}

