@model WebApp.Models.DashboardViewModel
@using WebApp.Controllers

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .mainContainer {
        width: 100%;
        height: 570px;
      /*  border: 2px solid black;*/
      background-color:darkgrey;
    }

    .leftDiv {
        border: 2px solid darkorchid;
        float: left;
        width: 8%;
        height: 100%;
        background-color: cadetblue;
    }

    .midDiv {
        @*background-image: url( @VirtualPathUtility.ToAbsolute("~/UploadedFiles/no-image.jpg") );
        background-repeat: inherit;
        background-size: 640px 480px;*@
        float: left;
        width: 640px;
        height: 480px;
        display: block;
        margin-left: 15px;
       /* border: 2px solid black;*/
        margin-top:0px;
    }

    .rightDiv {
        /* background-color: lightslategray;*/
        border: 3px solid darkorchid;
        float: left;
        width: 33%;
        height: 100%;
        margin-left: 15px;
    }

    .lblFileUpload {
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    #file-chosen {
        margin-left: 0.3rem;
        font-family: sans-serif;
    }

    .borderRounded {
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 2px;
        width:auto;
    }

    .projectNameDiv {
        height: 35px;
        padding: 2px 5px 2px 5px;
        margin-left:30px;
    }

    .uploadFileDiv {
        height: 35px;
        padding: 0px 80px 30px 15px;
        float:right;
    }
</style>


@using (Html.BeginForm("Dashboard", "Dashboard", FormMethod.Post, new { id = DashboardController.DashboardForm, encType = "multipart/form-data" }))
{
    @Html.Hidden("GetGridViewDataUrl", Url.Action("GetGridViewData", "Dashboard"))
    @Html.Hidden("UploadFileNameUrl", Url.Action("UploadFileNames", "Dashboard"))
    @Html.Hidden("ImageFileUrl", Url.Action("GetCanvasImage", "Dashboard"))
    @Html.Hidden("SaveBoundingBoxUrl", Url.Action("SaveBoundingBoxData", "Dashboard"))
    @Html.Hidden("SavePolygonUrl",Url.Action("SavePolygonData","Dashboard"))
    @Html.Hidden("InsertFileUrl",Url.Action("UploadFile", "Dashboard"))
    <div style="margin-top:10px;">
        @if (Model.UserProjectWithPhotosDto.ProjectName != null)
        {
            <div id="divUploadFilePanel">
                <div class="container borderRounded">
                        <div class="projectNameDiv col-md-6">
                            <label style="color: white; font-family: sans-serif;">Project Name: @Model.UserProjectWithPhotosDto.ProjectName</label>
                        </div>
                        <div class="uploadFileDiv">
                            @Html.Partial("UploadFileViewPartial", Model.FileUploadModel)
                        </div>
                </div>
            </div>
            <div id="divImageAnnotationPanel" style="margin-top:10px;">
                @Html.Partial("ImageAnnotationPartial", Model.UserProjectWithPhotosDto)
            </div>
        }
    </div>
}

