@model WebApp.Models.DashboardViewModel
@using WebApp.Controllers

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .mainContainer {
        width: 100%;
        height: 500px;
      /*  border: 2px solid black;*/
      background-color:antiquewhite;
    }

    .leftDiv {
        /* border: 2px solid green;*/
        float: left;
        width: 8%;
        height: 100%;
        background-color:cadetblue;
    }

    .midDiv {
        background-image: url( @VirtualPathUtility.ToAbsolute("~/UploadedFiles/no-image.jpg") );
        background-repeat: inherit;
        background-size: 640px 480px;
        float: left;
        width: 640px;
        height: 480px;
        display: block;
        margin-left: 15px;
       /* border: 2px solid black;*/
        margin-top:10px;
    }

    .rightDiv {
        /*background-color: cadetblue;*/
        border:2px solid cadetblue;
        float: left;
        width: 33%;
        height: 100%;
        margin-left: 15px;
    }

    .lblFileUpload {
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    #file-chosen {
        margin-left: 0.3rem;
        font-family: sans-serif;
    }

</style>

<script src="~/Scripts/Dashboard/Dashboard.js"></script>
@using (Html.BeginForm("Dashboard", "Dashboard", FormMethod.Post, new { id = DashboardController.DashboardForm, encType = "multipart/form-data" }))
{
    @Html.Hidden("UploadFileUrl", Url.Action("UploadFile", "Dashboard"))
    @Html.Hidden("ImageFileUrl", Url.Action("GenerateImgFile", "Dashboard"))
  
    if (Model.MemberDataModel.UserName != null)
    {
        <div id="divUploadFilePanel">
            @Html.Partial("UploadFileViewPartial", Model.FileUploadModel)
        </div>

        <div id="divImageAnnotationPanel">
            @Html.Partial("ImageAnnotationPartial", Model.MemberDataModel)
        </div>
    }
}

