@using WebApp.Models
@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<style>
    .row.content {
        height: 100%;
        margin-top: 70px;
        background-color: white;
        padding:10px 10px 10px 10px;
    }
    .box {
        transition: box-shadow .3s;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: floralwhite;
        width: 370px;
        height: 270px;
        padding: 5px 10px 5px 10px;
    }

        .box:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
</style>
<script>
    @Model.JavascriptToRun

    function showSpinner() {
        $('.spinner').css('display', 'block');
    }

    function hideSpinner() {
        $('.spinner').css('display', 'none');
    }

    function createProject() {
        $('.spinner').css('display', 'block');

        var form = $('#CreateProjectForm');
        var createProjectUrl = $('#GetCreateProjectUrl').val();

        $.post(createProjectUrl, $(form).serialize(), function (data) {
            alert("Created");
            $('.spinner').css('display', 'none');
        }).fail(function (callResult) {
            alert('Error : ' + callResult.responseText);
        });
    }
</script>

@Html.Hidden("GetCreateProjectUrl",Url.Action("CreateProject","Home"))

<div class="container-fluid">
    <div class="row content">

        <div class="col-md-8" style="background-color:white;height: 500px;">
            <h2><i class='fas fa-folder-open' style='font-size: 36px; color: rebeccapurple; padding-right: 10px;'></i>Browse Projects</h2>

            @if (Model.UserProjectDataModels.Count() == 0)
            {
                <hr />
                <h5>You do not have any projects to browse..!!</h5>
                <hr />
            }
            else
            {
        <div class="list-group" style="height:400px;overflow-y:scroll;">
            @foreach (var project in Model.UserProjectDataModels)
            {

                    <a href="Dashboard/@project.ProjectName" class="list-group-item">
                        @project.ProjectName <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="badge" style="float:right">@project.DateCreated.ToShortDateString()</span>
                    </a>

            }
            </div>
            }
        </div>
        <div class="col-md-4" style="background-color: white; border:hidden">
            <div class="form-group box">
                @Html.Partial("CreateProjectViewPartial", Model.UserProjectViewModel)
            </div>
        </div>


    </div>
</div>