@model System.Web.Mvc.HandleErrorInfo

@{ 
    ViewBag.Title = "Error";
}

<div class="container">
    <h2 style="color:red;">Error Occured.</h2>
    <ul>
        <li><label style="color:floralwhite">Action: @Model.ActionName</label></li>
        <li><label style="color:floralwhite">Controller: @Model.ControllerName</label></li>
        <li><label style="color:floralwhite">Message: @Model.Exception.Message</label></li>
    </ul>
    
    <hr />
    <h3 style="color:cyan">InnerException:</h3>
    <p style="color:floralwhite">@Model.Exception.InnerException</p>
    <hr />
    <h3 style="color:cyan">StackTrace:</h3>
    <p style="color:floralwhite">@Model.Exception.StackTrace</p>
    <hr />
</div>
       
  

